# Auto detect text files and perform LF normalization
* text=auto
downloads/* filter=lfs diff=lfs merge=lfs -text
[[:space:]]/(2022)[[:space:]]Ein[[:space:]]Geist[[:space:]]In[[:space:]]Einem[[:space:]]Glaskolben/* filter=lfs diff=lfs merge=lfs -text
/(2022)[[:space:]]Ein[[:space:]]Geist[[:space:]]In[[:space:]]Einem[[:space:]]Glaskolben/* filter=lfs diff=lfs merge=lfs -text
